<p>User Registration Form</p>
<form [formGroup]="registrationForm" (ngSubmit)="registration()">

    <div class="col-12">
      Full Name :<input type="text" name="name" formControlName="name">
    </div>
      
    <div class="col-12">
      email: <input type="email" name="email" formControlName="email"> 
    </div>

    <div class="col-12">
        Password: <input type="password" name="password" formControlName="password">
    </div>

    <div class="col-12">
        Gender : 
        Male <input type="radio" name="gender" formControlName="gender" value="male">
        Female <input type="radio" name="gender" formControlName="gender" value="female">  
      </div>

      <div class="col-12">
        Mobile No : <input type="text" name="mobile" formControlName="mobile">
      </div>

      Address : 
      <div formGroupName="address">
        <div class="row">
        
        
        <div class="col-4">
          Country :

      
          <!-- [(ngModel)]="countrySelected"  -->
          <select formControlName="country" name="country" [(ngModel)]="selectcountry" (ngModelChange)="onCountrySelected($event)">
            <option *ngFor="let countrytitle of listCountry" [value]="countrytitle.iso2">{{countrytitle.name}}</option>
          </select>
          <!-- <input type="text" name="country" formControlName="country"> -->
         
        </div>
        <div class="col-4">
          State : 
          <select formControlName="state" name="state" [(ngModel)]="selectstate" (ngModelChange)="onStateSelected()">
            <option *ngFor="let statetitle of listState" [value]="statetitle.iso2">{{statetitle.name}}</option>
          </select>
         
          </div>
          <div class="col-4">
          City : 
          <select formControlName="city" name="city">
            <option *ngFor="let citytitle of listCity" [value]="citytitle.id">{{citytitle.name}}</option>
          </select>
          
          </div>
        </div>
      </div>
  
        
      <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
  </form>